<div class="fondo">
<div class="cake-container">
    <div class="cake-header">      
      <div class="cake-title"><h1>Nuestras Tartas</h1></div>
    </div>    
</div>

<div class="about-container">
    <div></div>
    
    <div class="profileM">
      <img src="../../../../assets/Maira.png" alt="Maira con pastel" class="profile-img" />
      <div class="profile-text">
        <p>
          <strong>¡Hola! Soy Maira</strong>, una apasionada de la repostería que disfruta transformando ideas en dulces creaciones.
          Cada pastel que hago es único, diseñado con mucho cariño y pensado para sorprender y emocionar.
          En <strong>Miami Cakes</strong>, mi meta es hacer que cada celebración sea inolvidable y llena de sabor.
        </p>
      </div>
    </div>
  
    <div class="profile">
      <div class="profile-text">
        <p>
          <strong>¡Hola! Soy Antonio</strong>, y me encanta dar rienda suelta a mi creatividad en cada diseño de pasteles personalizados.
          En <strong>Miami Cakes</strong>, me enfoco en llevar las ideas de nuestros clientes a otro nivel, con detalles únicos y un toque moderno.
          Mi mayor satisfacción es ver la emoción que generan nuestras creaciones.
        </p>
      </div>
      <img src="../../../../assets/Tonio.jpeg" alt="Antonio con pastel" class="profile-imgA" />
    </div>
  </div>
  <div class="cake-container">
    <div class="cake-header">      
        <div class="container-button"><button class="cake-button"><h2>Solicita tu tarta</h2></button></div>
    </div>    
</div>
</div>