<nav class="navbar">
  <div class="logo animate__animated animate__rubberBand logo">
    <a routerLink="/"><img src="../../../../assets/LOGO_FINAL_VECTORIZADO.svg" alt="Logo" class="logo-img" /></a><h2 class="nav-links">MiamiCakes</h2>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/nuestras-tartas" routerLinkActive="active"><h2>Nuestras tartas</h2></a></li>
    <li><a routerLink="/nosotros" routerLinkActive="active"><h2>Nosotros</h2></a></li>
    <li><a routerLink="/contacto" routerLinkActive="active"><h2>Contáctanos</h2></a></li>
    <li><a routerLink="/recetas" routerLinkActive="active"><h2>Recetas</h2></a></li>
  </ul>
  <div class="contact-icon">
    <a routerLink="/contacto">
      <img src="../../../../assets/icon-mail.svg" alt="Contacto" class="" />
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</nav>
