<footer class="footer-container">
  <!-- Iconos en esquina superior derecha -->
  <div class="footer-social">
    <a href="#" class="social-link">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="#" class="social-link">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <!-- Contenido principal en columna a la izquierda -->
  <div class="footer-content">
    <div class="footer-section footer-contact">
      <p class="footer-text">
        624454786 | <a href="mailto:miamicakes@gmail.com" class="footer-link">miamicakes&#64;gmail.com</a>
      </p>
    </div>

    <nav class="footer-section footer-links">
      <a href="#" class="footer-link">Nosotros</a>
      <a href="#" class="footer-link">Condiciones de envío</a>
      <a href="#" class="footer-link">Aviso legal</a>      
    </nav>



    <div class="footer-section footer-copyright">
      <a href="#" class="footer-icon"><img src="'../../../../assets/instagram.svg" alt=""></a>
      <a href="#" class="footer-icon"><img src="'../../../../assets/tiktok.svg" alt=""></a>
      <p class="footer-text">Miamicakes © Copyright 2025</p>
    </div>
  </div>
</footer>