<!-- Contenedor de la galería -->
<div class="gallery-container">
  <!-- Recorre las imágenes y las muestra en formato de polaroid -->
  <div *ngFor="let image of images" class="polaroid" (click)="openImage(image)">
    <img [src]="image" alt="Gallery Image" class="polaroid-image">
  </div>
</div>

<!-- Modal para mostrar la imagen ampliada -->
<div class="modal" *ngIf="selectedImage" (click)="closeImage()">
  <div class="modal-content">
    <img [src]="selectedImage" alt="Full Image" class="full-image">
  </div>
</div>

<!-- Botón para solicitar una tarta -->
<div class="container-button">
  <button class="cake-button">
    <h2>Solicita tu tarta</h2>
  </button>
</div>
