<div class="cake-container">
    <div class="cake-header">
      <div class="cake-image"> </div>
      <div class="cake-title"><h1>Tartas personalizadas</h1></div>
    </div>
    <div class="cake-content">
      <h1>Nuestros trabajos de tartas personalizadas artesanales.</h1>
      <h2>
        <br>
        Explora nuestra selección de tartas decoradas y personalizables para todos los gustos.
        Delicadas, elegantes, divertidas, explosivas. <br> Describe la tarta de tus sueños, 
        selecciona el sabor, el tamaño, y nosotros nos encargaremos de hacerla realidad.
      </h2>
      <h2><br>
        En <strong>MiamiCakes</strong>, cada tarta contiene elementos decorativos únicos. <br>
        Dado que no siempre disponemos de los mismos materiales, las imágenes son solo una 
        referencia del estilo de tarta que puedes solicitar. <br> Recuerda que nuestras tartas son 
        100% artesanales y exclusivas. No te preocupes, tu tarta siempre será espectacular.
      </h2><br>
      <div class="container-button"><a routerLink="/contacto" routerLinkActive="active"><button class="cake-button"><h2>Solicita tu tarta</h2></button></a></div>
    </div>
  </div>
  